<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Lista de Tareas con Patrón Redux</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="list-task">
    <ion-segment currentFilter (ionChange)="filterTasks($event)">
      <ion-segment-button value="all" checked>
        <ion-label>Todas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="complete">
        <ion-label>Completadas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pending">
        <ion-label>Pendientes</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-item *ngFor="let task of filteredTasks;let i = index">
      <ion-label>{{ task.name }}</ion-label>
      {{ task.done ? '✅' : '' }}
      <ion-toggle
        slot="end"
        [checked]="task.done"
        (ionChange)="updateTaskDone(task)"
      ></ion-toggle>

      <ion-buttons slot="end">
        <!--
        <ion-button (click)="updateTask(task.id)">
          <ion-icon slot="icon-only" color="primary" name="create"></ion-icon>
        </ion-button>
      -->
        <ion-button [disabled]="task.done" (click)="deleteTask(task)">
          <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <!-- Mensaje cuando no hay tareas -->
  <app-not-tasks *ngIf="mostrarNotTasks"></app-not-tasks>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
